.todo {
  width: 50%;
  margin: 0 auto;
}

#todo_items {
}

#todo_items li {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 40%;
  margin: 0 auto;
}

input {
  height: 2rem;
}

button {
  height: 2rem;
  border: 1px solid black;
  font-weight: bold;
}
